body{
    background: url(bg.jpg);
}
table{
	color: #fff;
}

div.sp{
	color: #fff;
	font-size: 20;
}

a{
	color: #fcf5f5;
}

p{
	font-size: 20;
}

div.blo{
	border: 2px solid Black;
	padding: 0px;
	margin-left: 8%;
	margin-right: 55%;
	opacity: 0.75;
	background: #6a9126;
	
}

a.back{
	color: green;
	font-size: 40;
	margin-top: -50%;
	margin-left: 300px;
}

div.bl_1{
	border: 4px solid white;
	padding-top: 200px;
	margin-left: 100px;
	margin-top: 30px;
	width: 600px;
	background: #6a7946;
	color: Black;
	font-family : arial;
	
}

div.bl2{
	border: 3px;
	padding: 2px;
	margin-left: 330px;
	margin-top: -45px;
	width: 400px;
	opacity: 0.9;
	background: #6a9126;
	color: blue;
	font-family: calibri;
}

div.bl3{
	padding: 2px;
	margin-left: 80px;
	margin-top: -5px;
	width: 350px;
	opacity: 0.8;
	background: #6a9686;
	color: black;
}